<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="stylesheets/navbar.css">
  <link rel="stylesheet" href="stylesheets/carrossel.css">
  <link rel="stylesheet" href="stylesheets/carousel-banner.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
  
  <title>Document</title>
  </head>
  
  <body>
    <div class="navbar">
        <div class="logo">
            <a href="/login"><h1>IRON SERIES</h1></a>
            <link rel="stylesheet" href="/auth/login.hbs">
        </div>

        <div class="menu">
            <div class="menu-button bt1 unselectable"><a class="nav-location" href="/login">HOME</a></div>
            <div class="menu-button bt2 unselectable"><a class="active" href="/signup">CADASTRE-SE</a></div>
            <div class="menu-button bt3 unselectable"><a class="active"href="/series">SÉRIES</a></div>
        </div>
        
        <div class="menu-mobile-btn">
                <div class="hamburger">
                    <div class="hamb-ico"><p onclick="myFunction()" class="dummyicon unselectable">X</p></div>
                </div>
            </div>
            <div id="menu-mob" class="menu-mobile">
                <div class="menu-button bt1 unselectable"><a class="nav-location" href="/login">home</a></div>
                <div class="menu-button bt2 unselectable"><a class="active" href="/signup">cadastre-se</a></div>
                <div class="menu-button bt3 unselectable"><a class="active" href="/series">séries</a></div>
            </div>
        
    </div>
    <section id="main-landing">
        <div id="black-ov"></div>

        <div id="main-landing-message">
            <h1>Organize suas séries</h1>
            <h2>FAÇA SUA LISTA OU SIGA ALGUÉM</h2>
            <div>
                <form action="/login" method="POST">
                    <h1>Sign-up</h1>
                    <div class="formcontainer">
                        <hr />
                        <div class="container">
                            <label for="uname"><strong style="color: white;">Username</strong></label>
                            <input type="text" placeholder="Enter Username" name="uname" required>
                            
                            <label for="psw"><strong style="color: white">Password</strong></label>
                            <input type="password" placeholder="Enter Password" name="psw" required>
                        </div>
                        <button type="submit">Login</button>
                        <div class="container" style="background-color: #eee">
                            <label class="remember" style="padding-left: 15px">
                                <input style="color:black" type="checkbox" checked="checked" name="remember"> Remember
                                me
                            </label>
                            <span class="psw"><a href="/signup">Sign-up</a></span>
                        </div>
                </form>
            </div>
        </div>

    </section>
    <div class="main-footer">
        <footer class="footer">
            <p>Developed by Robson Santos, Erick e Hebert at Iron Hack</p>
            <a href="https://github.com/RobsonPeSantos/Project2">Github</a>
        </footer>
    </div>    
</body>

</html>