<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Iron Series :heart:</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
  </head>
  <body>
    <div class="navbar">
           <div class="logo">
        
          <h1 >IRONSERIES</h1>
          <link rel="stylesheet" href="/auth/login.hbs">
                
      </div>
            <div class="menu">
                <div class="menu-button bt1 unselectable"><p>Home</p></div>
                <div class="menu-button bt2 unselectable"><p>Series</p></div>
                <div class="menu-button bt3 unselectable"><p>Cadastre-se</p></div>
                <div class="socialIcons"></div>
               
            </div>
            <div class="menu-mobile-btn">
                <div class="hamburger">
                    <div class="hamb-ico"><p onclick="myFunction()" class="dummyicon unselectable">X</p></div>
                </div>
            </div>
            <div id="menu-mob" class="menu-mobile">
                <div class="menu-button2 bt1 unselectable"><p>Home</p></div>
                <div class="menu-button2 bt2 unselectable"><p>Series</p></div>
                <div class="menu-button2 bt3 unselectable"><p>Cadastre-se</p></div>
                
            </div>
        
    </div>
      



    <section id="main-landing">
      <div id="black-ov"></div>
           <div style="width: 700px;"   id="main-landing-message">
        <h1>Organize suas séries</h1>
        <h2>FAÇA SUA LISTA OU SIGA ALGUÉM</h2>
        <!-- <a class="button" href="#">TOTALMENTE GRATUITO</a> -->
        <div>
          <form  class="form
          "  style="width: 700px; " action="/action_page.php">
            <h1>Login Form</h1>
            <div class="formcontainer">
            <hr/>
            <div class="container">
              <label for="uname"><strong style="color: white;">Username</strong></label>
              <input type="text" placeholder="Enter Username" name="uname" required>
              <label for="psw"><strong style="color: white">Password</strong></label>
              <input type="password" placeholder="Enter Password" name="psw" required>
            </div>
            <button type="submit">Login</button>
            <div class="container" style="background-color: #eee">
              <label class="remember" style="padding-left: 15px">
              <input style="color:black"type="checkbox"  checked="checked" name="remember"> Remember me
              </label>
              <span class="psw"><a href="#"> Forgot password?</a></span>
            </div>
          </form>
        </div>
      </div>
      
    </section>

    <!-- SECTION OPTIONS SELECTOR -->


    <footer>
           <p>Desenvolvedores Robson, Hebert e Erick &copy; 2020 All Rights Reserved.</p>
           
          </footer>
  </body>
</html>
