<link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">


<div class="create">
    <form action="" method="post">
        <h1>Crie a sua propria serie!!!</h1>

        <label for=""><strong>Title</strong></label>
        <input type="text" name="title" id="title" placeholder="">

        <label for=""><strong>Cast</strong></label>
        <input type="text" name="cast" id="cast">

        <label for=""><strong>Genre</strong></label>
        <input type="text" name="genre" id="genre">

        <label for=""><strong>Url image</strong></label>
        <input type="text" name="image" id="image">

        <label for=""><strong>Description</strong></label>
        <input type="text" name="description" id="description">

        <label for=""><strong>Rate</strong></label>
        <input type="number" name="rate" id="rate">

        <input class="button" type="submit" value="submit">
    </form>
</div>