
    
 
        
            <form action="/login" method="POST">
            <div class="formcontainer">
                <hr/>
                <div class="container">
                    <form action="" method="post">
                        <h1>INCLUA SUA SÉRIE</h1>
                        <label for=""><strong style="color: white;">Title</strong></label>
                        <input type="text" name="title" id="title" placeholder="">

                        <label for=""><strong style="color: white;">Cast</strong></label>
                        <input type="text" name="cast" id="cast">

                        <label for=""><strong style="color: white;">Genre</strong></label>
                        <input type="text" name="genre" id="genre">

                        <label for=""><strong style="color: white;">image link</strong></label>
                        <input type="text" name="image" id="image">

                        <label for=""><strong style="color: white;">Description</strong></label>
                        <input type="text" name="description" id="description">

                        <label for=""><strong style="color: white;">Rate</strong></label>
                        <input type="number" name="rate" id="rate">

                        <input class="button" type="submit" value="submit">
                    </form>
               