<link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
<div class="home">
        <h1>Minhas series</h1>
    <div>
        <a href="/series">Series</a>
        <a href="/create/serie">Create Series</a>
        <a href="/login">Login</a>
    </div>
</div>