<link rel="stylesheet" href="/stylesheets/style.css">
<ul>
        <li><a href="/login">HOME</a></li>
        <li><a href="/signup">CADASTRE-SE</a></li>
        <li><a class="nav-location" href="/series">SÉRIES</a></li>
  </ul>
<div class="box" style="background-color: #000;">
  <a><img style="border: 2px solid #000000;" src="/images/vikings.jpg" alt="Vikings"></a>
    {{#each series}}
  <div class="box1">
    <h4 style="color:white">{{title}}</h4>
      <a href="/serie/{{id}}">
        <img style="width: 160px; heigth: 150px;" src="{{image}}" alt="">
      </a>
  </div>
{{/each}}
</div>