<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel=""
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="stylesheets/navbar.css">
  <link rel="stylesheet" href="stylesheets/carousel.css">
  <link rel="stylesheet" href="stylesheets/carousel-banner.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
  
  <title>Document</title>
  </head>
  <script src="/navbar.js"></script>
<body>
  
  
        <div class="logo">
                <h1 >IRONSERIES</h1>
                <link rel="stylesheet" href="/auth/login.hbs">
            <div class="menu">
                <div class="menu-button bt1 unselectable"><a class="nav-location" href="/login">HOME</a></div>
                <div class="menu-button bt2 unselectable"><a class="active" href="/signup">CADASTRE-SE</a></div>
                <div class="menu-button bt3 unselectable"><a class="active"href="/series">SÉRIES</a></div>
            </div>
            <div class="menu-mobile-btn">
                <div class="hamburger">
                    <div class="hamb-ico"><p onclick="myFunction()" class="dummyicon unselectable">X</p></div>
                </div>
            </div>
            <div id="menu-mob" class="menu-mobile">
                <div class="menu-button bt1 unselectable"><a class="active" href="/login">HOME</a></div>
                <div class="menu-button bt2 unselectable"><a class="nav-location" href="/signup">CADASTRE-SE</a></div>
                <div class="menu-button bt3 unselectable"><a class="active"href="/series">SÉRIES</a></div>
            </div>
        
    </div>