/* Imagens das séries na página series.hbs */

.box {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: fit-content;
  display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  margin: auto;
}

.box > div {
  margin: 10px;
  box-shadow: black;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.h1 {
  font-size: 50px;
  padding: 20px;
  align-items: initial;
}
