.box {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  align-items: center;
  padding: 10px;

  background-color: rgb(24, 16, 16);
}

.h1 {
  font-size: 50px;
  padding: 20px;
  align-items: initial;
}
