#main-footer {
  color: white;
  text-decoration: none;
  flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  height: 100px;
  width: 100px;
}