/* FORMULÃRIO DE CONTATO */
.form {
  border: 0px solid #f1f1f1;
  padding: 16px 8px;
  background-color: #141414;
  box-sizing: border-box;
  opacity: 80%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.form > div {
  justify-content: center;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 16px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #df1d27;
  color: white;
  padding: 14px 0;
  margin: 10px 0;
  border: none;
  cursor: grabbing;
  width: 585px;
  margin-right: 20px;
}
h1 {
  text-align: center;
  font-size: 18;
}
button:hover {
  opacity: 0.8;
}
.formcontainer {
  text-align: left;
  justify-content: center;
  width: 600px;
  margin: 24px 50px 12px;
}
.container {
  padding: 16px 0;
  text-align: left;
  margin-right: 16px;
}
span.psw {
  float: right;
  padding-top: 0;
  padding-right: 15px;
}

.remember {
  color: black;
}
