/* GLOBAL STYLES */
.title {
    color: #e50914;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 100px;
    text-shadow: 1px 2px 3px rgb(156, 144, 144);
    font-style: "M105.06233,14.2806261 L110.999156,30 C109.249227,29.7497422 107.500234,29.4366857 105.718437,29.1554972 L102.374168,20.4686475 L98.9371075,28.4375293 C97.2499766,28.1563408 95.5928391,28.061674 93.9057081,27.8432843 L99.9372012,14.0931671 L94.4680851,-5.68434189e-14 L99.5313525,-5.68434189e-14 L102.593495,7.87421502 L105.874965,-5.68434189e-14 L110.999156,-5.68434189e-14 L105.06233,14.2806261 Z M90.4686475,-5.68434189e-14 L85.8749649,-5.68434189e-14 L85.8749649,27.2499766 C87.3746368,27.3437061 88.9371075,27.4055675 90.4686475,27.5930265 L90.4686475,-5.68434189e-14 Z M81.9055207,26.93692 C77.7186241,26.6557316 73.5307901,26.4064111 69.250164,26.3117443 L69.250164,-5.68434189e-14 L73.9366389,-5.68434189e-14 L73.9366389,21.8745899 C76.6248008,21.9373887 79.3120255,22.1557784 81.9055207,22.2804387 L81.9055207,26.93692 Z M64.2496954,10.6561065 L64.2496954,15.3435186 L57.8442216,15.3435186 L57.8442216,25.9996251 L53.2186709,25.9996251 L53.2186709,-5.68434189e-14 L66.3436123,-5.68434189e-14 L66.3436123,4.68741213 L57.8442216,4.68741213 L57.8442216,10.6561065 L64.2496954,10.6561065 Z M45.3435186,4.68741213 L45.3435186,26.2498828 C43.7810479,26.2498828 42.1876465,26.2498828 40.6561065,26.3117443 L40.6561065,4.68741213 L35.8121661,4.68741213 L35.8121661,-5.68434189e-14 L50.2183897,-5.68434189e-14 L50.2183897,4.68741213 L45.3435186,4.68741213 Z M30.749836,15.5928391 C28.687787,15.5928391 26.2498828,15.5928391 24.4999531,15.6875059 L24.4999531,22.6562939 C27.2499766,22.4678976 30,22.2495079 32.7809542,22.1557784 L32.7809542,26.6557316 L19.812541,27.6876933 L19.812541,-5.68434189e-14 L32.7809542,-5.68434189e-14 L32.7809542,4.68741213 L24.4999531,4.68741213 L24.4999531,10.9991564 C26.3126816,10.9991564 29.0936358,10.9054269 30.749836,10.9054269 L30.749836,15.5928391 Z M4.78114163,12.9684132 L4.78114163,29.3429562 C3.09401069,29.5313525 1.59340144,29.7497422 0,30 L0,-5.68434189e-14 L4.4690224,-5.68434189e-14 L10.562377,17.0315868 L10.562377,-5.68434189e-14 L15.2497891,-5.68434189e-14 L15.2497891,28.061674 C13.5935889,28.3437998 11.906458,28.4375293 10.1246602,28.6868498 L4.78114163,12.9684132 Z";
  }
  
  /* GLOBAL STYLES */
  body {
    margin: 0;
    font-family: sans-serif;
    background-color: #000;
  }
  
  img {
    display: block;
  }
  h1,
  h2,
  p {
    margin: 0;
  }
  a {
    display: block;
  }
  .button {
    background-color: #e50914;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 8px 18px;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 91px;
    width: 460px;
    color: #fff;
    padding: 40px 0;
    opacity: 0.5;
    cursor: pointer;
  }
  .option:hover {
    opacity: 1;
  }
  
  .option svg {
    margin-bottom: 5px;
    fill: #fff;
  }
  .option p {
    font-weight: 600;
  }
  /* ================= */
  
  /* SECTION MAIN LANDING */
  
  #main-landing {
    background-image: url("http://s3-us-west-2.amazonaws.com/techvibes/wp-content/uploads/2017/04/24135159/Netflix-Background.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #main-landing > header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
  }
  /* HEADER */
  /* logo */
  #brand svg {
    width: 180px;
    height: auto;
  }
  
  /* MAIN LANDING MESSAGE */
  /* black gradient overlay */
  #black-ov {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #000000de, #00000029);
    left: 0;
    top: 0;
  }
  #main-landing-message {
    position: relative;
    padding: 18em 0;
  }
  #main-landing-message h1,
  h2 {
    color: #fff;
    text-align: center;
    text-size-adjust: 100px;
  }
  #main-landing-message > h1 {
    font-size: 6em;
    margin-bottom: 15px;
  }
  #main-landing-message > h2 {
    font-weight: 300;
    margin-bottom: 1em;
  }
  #main-landing-message > a {
    display: inline-block;
    font-size: 15px;
    padding: 12px 26px;
    letter-spacing: 1px;
  }
  #option-select-view {
    background: #000;
  }
  /* SELECT OPTIONS */
  #option-select-clickable-options {
    background-color: #141414;
    display: flex;
    justify-content: space-around;
    padding: 0 10em;
    border-bottom: 2px solid #2d2d2d;
  }
  
  VIEW OPTIONS
  .view-option {
    padding: 3em 14em;
  }
  .view-option > div > a {
    display: inline-flexbox;
    font-size: 15px;
    padding: 12px 26px;
    letter-spacing: 1px;
  }
  .view-option:nth-child(1) {
    display: flex;
    justify-content: center;
  }
  .view-option a {
    padding: 16px 30px !important;
    min-width: 268.5px;
    min-height: 49px;
    max-height: 49px;
  }
  .view-option:nth-child(1) > div:nth-child(1) {
    margin-top: 4em;
  }
  .view-option > div > h1 {
    color: #fff;
    font-weight: 300;
  }
  .view-option:nth-child(1) > div > h1 {
    margin-bottom: 20px;
    font-size: 2em;
  }
  .view-option:nth-child(2) {
    flex-direction: column;
  }
  
  .view-option:nth-child(2) > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
  }
  .view-option:nth-child(2) > div:nth-child(2) > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 20px;
  }
  .view-option:nth-child(2) > div:nth-child(2) > div p {
    opacity: 0.6;
    font-weight: 300;
    text-align: center;
  }
  .view-option:nth-child(2) > div:nth-child(2) > div h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
  }
  .view-option:nth-child(2) > div:nth-child(2) {
    display: flex;
  }
  .view-option:nth-child(2) > div:nth-child(2) img {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .view-option:nth-child(3) {
    flex-direction: column;
  }
  .view-option:nth-child(3) > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .view-option:nth-child(3) > div:nth-child(1) h1 {
    margin-right: 40px;
  }
  
  .view-option:nth-child(3) > div:nth-child(1) h1 {
    margin-right: 40px;
  }
  
  .view-option:nth-child(3) table {
    color: #fff;
  }
  /* .view-option:nth-child(2) > div > h1 {
        margin-bottom: 20px;
        font-size: 2.4em;
      } */
  
  /* FORMULÁRIO DE CONTATO */
  form {
    border: 0px solid #f1f1f1;
    padding: 16px 8px;
    background-color: #141414;
    box-sizing: border-box;
    opacity: 80%;
    margin: 0 30% 0 30%;
    width: 600;
    justify-content: center;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  button {
    background-color: #df1d27;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 100%;
  }
  h1 {
    text-align: center;
    font-size: 18;
  }
  button:hover {
    opacity: 0.8;
  }
  .formcontainer {
    text-align: left;
    margin: 24px 50px 12px;
    
  }
  .container {
    padding: 16px 0;
    text-align: left;
  }
  span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
  }
  
  .remember {
    color: black;
  }

/********************************Series Style**********************/
.box{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
  align-content: stretch;
}
.bo1 {
  width:160px;
  height: 140px;
  margin-left: 5px;
}
.box1 h4 {
  padding: 3px;
}
.box1 img {
  padding: 15px;
}

/********************************Details Style*********************************/
.details {
   background-color: #000000;
   height: 650px;
   color:white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.details img{
  margin-top: 50px;
  float: right;
  width: 700px;
  border: 2px solid red;
}

.details h4{
   width:300px;
   font-size: 30px;
   text-decoration: underline;
}
.p{
  margin-bottom: 30px;
}

.pg {
  margin-bottom: 30px;
}

.rate {
  margin-top: 30px;
}

footer {
  text-align: center;
  padding: 10px;
  color: #e50914;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.nav-location {
  color: #df1d27;
}

/***********************************HOME****************************/
